<mat-drawer-container class="app-container" autosize>
  <mat-drawer
    #drawer
    fixedInViewport="true"
    class="app-sidenav mat-elevation-z10"
    [mode]="isSmallScreen ? 'over' : 'side'"
    [opened]="!isSmallScreen"
  >
    <mat-toolbar class="tool-bar">
      <p>
        <img class="header-icons" src="../../../assets/plane.svg" />
        <span>BRILLIANT</span>
      </p>
    </mat-toolbar>
    <mat-nav-list>
      <a
        (click)="closeSideNav()"
        class="list-item"
        mat-list-item
        [routerLink]="[link.url]"
        routerLinkActive="active"
        routerLinkActiveOptions="{exact:true}"
        *ngFor="let link of links"
      >
        <mat-icon class="icon-lables">{{ link.icon }}</mat-icon>
        {{ link.name }}
      </a>
    </mat-nav-list>
  </mat-drawer>
  <div class="app-sidenav-content">
    <app-toolbar (sidenavToggle)="drawer.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
