.app-container {
  width: 100%;
  flex: 1;
  position: fixed;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.app-sidenav {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.822);
}
.wrapper {
  margin: 0px 50px 50px 50px;
}
.tool-bar {
  background-color: #e74545;
  color: white;
  font-size: 26px;
}
.header-icons {
  width: 24px;
  margin-right: 5px;
}
.active {
  background-color: white !important;
  color: #e74545 !important;
}
.list-item {
  color: white;
  border-bottom: 1px solid rgba(73, 73, 73, 0.548);
}
.icon-lables {
  margin: 10px;
}
